// vars
$color-red: rgba(255, 0, 0, 1);
$color-yellow: rgba(218, 144, 0, 1);
$color-black: rgba(10, 10, 10, 1);
$color-gray: rgba(67, 67, 67, 1);
$color-green: rgba(62, 88, 40, 1);

$background-yellow: rgba(255, 248, 235, 1);
$background-yellow-dark: rgba(255, 232, 188, 1);
$background-orange: rgba(255, 169, 0, 1);

$border-yellow: rgba(255, 169, 0, 0.45);
$border-gray: rgba(225, 225, 225, 1);

$btn-size: 1rem;

// 

//у всех элементов при выделении будет синий цвет
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  &::selection {
    background-color: #fff;
    color: #3297fd;
    text-shadow: none;
  }
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #000;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  background-color: unset;
}

img {
  display: inline-block;
  width: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 30px;
}

.color-green {
  color: $color-green !important;
}

i {
  display: inline-block;
}

label {
  margin-bottom: 0;
}

//заголовок h1
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  line-height: 1.5;
}

h2 {
  font-size: 2.13rem;
  font-family: Nunito;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
}

.btn {
  @include flex(inline-flex, center, center);

  padding: 11px;
  font-size: $btn-size;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: unset;
  border-radius: 16px;

  cursor: pointer;

  &__icon {
    width: 26px;
    height: 26px;
  }

  &-red {
    background-color: $color-red;
    color: #fff;
  }

  &-yellow {
    background-color: $background-yellow;
    border-color: $border-yellow;

    &:hover {
      background-color: $background-yellow-dark;
    }
  }

  &-gray {
    border-color: $border-gray;
  }
}

.card {
  $card-border-radius: 20px;
  position: relative;

  border-radius: $card-border-radius;
  border: 1px solid $border-gray;

  &__content {
    padding: 0 19px 25px;
  }

  &__chars {
    color: rgba(67, 67, 67, 1);
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.33rem;
  }

  &__price {
    font-size: 1.6rem;
  }

  &__oldprice {
    font-size: 0.93rem;
    color: $color-gray;
  }

  &__favourite {
    position: absolute;
    right: 18px;
    top: 17px;

    &--active {}
  }

  &__discount {
    @include flex('none', 'center', 'center');
    width: 52px;
    height: 36px;

    color: #fff;
    border-top-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
  }

  &-discount {
    .card__discount {
      display: flex;
    }

    .card__price {
      color: $color-red;
    }
  }
}

.item-counter {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 109px;
  height: 42px;

  background: $background-yellow-dark;
  border: 1px solid $border-yellow;
  color: $background-orange;
  padding: 0 6px;

  border-radius: 58px;

  &__reduce,
  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;

    border-radius: 50%;

    &--active {
      background-color: $background-orange;
      color: #fff;
      cursor: pointer;
    }
  }

  &__reduce {}

  &__add {}

  &__number {}
}

.header__catalog-btn.active .burger {
  span {
    transform: rotate(45deg);

    &::before {
      transform: rotate(0);
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

//кнопка вкл/выкл меню
.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: $color-red;
  border-radius: 10px;
  cursor: pointer;

  >span,
  >span::before,
  >span::after {
    display: block;
    position: absolute;

    width: 14px;
    height: 2px;

    background-color: #fff;
    transition-duration: 0.25s;
  }

  >span {
    &::before {
      content: "";
      transform: translateY(-6px);
    }

    &::after {
      content: "";
      transform: translateY(6px);
    }
  }
}

// search
.search {
  width: 317px;
  position: relative;

  &__bar {
    width: 100%;
    height: 48px;

    border-radius: 16px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;

    &:focus {
      border: 1px solid #ccc;
      transition: 0.35s ease;
      color: #000;

      &::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }

      &::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }

      &:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
    }
  }

  &__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
  }
}

// 