// vars
$color-red: rgba(255, 0, 0, 1);
$color-yellow: rgba(218, 144, 0, 1);
$color-black: rgba(10, 10, 10, 1);
$color-gray: rgba(67, 67, 67, 1);
$color-green: rgba(62, 88, 40, 1);
$color-peach--dark: rgba(191, 115, 115, 1);

$background-yellow: rgba(255, 248, 235, 1);
$background-yellow-dark: rgba(255, 232, 188, 1);
$background-orange: rgba(255, 169, 0, 1);

$border-yellow: rgba(255, 169, 0, 0.45);
$border-gray: rgba(225, 225, 225, 1);

// category-items
$color-blue: rgba(56, 60, 92, 1);
$color-brown: rgba(119, 70, 49, 1);
$color-cyan--dark: rgba(39, 68, 71, 1);

$background-green--light: rgba(247, 255, 229, 1);
$background-brown--light: rgba(255, 248, 235, 1);
$background-cyan: rgba(235, 237, 255, 1);

$border-green: rgba(204, 224, 160, 1);
$border-brown: rgba(255, 231, 185, 1);
$border-cyan: rgba(192, 197, 242, 1);
// 

$btn-size: 1rem;

// 

//у всех элементов при выделении будет синий цвет
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  &::selection {
    background-color: #fff;
    color: #3297fd;
    text-shadow: none;
  }
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  color: #000;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  background-color: unset;
}

img {
  display: inline-block;
  width: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 30px;
}
.mb-6{
  margin-bottom: 5rem;
}
.color-green {
  color: $color-green !important;
}

i {
  display: inline-block;
}

label {
  margin-bottom: 0;
}

//заголовок h1
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  line-height: 1.5;
}

h2 {
  font-size: 2.13rem;
  font-family: Nunito;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
}

.btn {
  @include flex(inline-flex, center, center);

  padding: 11px;
  font-size: $btn-size;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: unset;
  border-radius: 16px;

  cursor: pointer;
  transition: color .2s, background .2s;

  &__icon {
    width: 26px;
    height: 26px;
  }

  &-red {
    &--border {
      border-color: $color-red;
      color: $color-red;

      &:hover {
        background-color: $color-red;
        color: #fff;
      }
    }

    &--bg {
      background-color: $color-red;
      color: #fff;
    }
  }

  &-yellow {
    background-color: $background-yellow;
    border-color: $border-yellow;

    &:hover {
      background-color: $background-yellow-dark;
    }
  }

  &-gray {
    border-color: $border-gray;
  }

  &-rounded {
    border-radius: 31px;
  }

  &-view-all {
    color: $color-yellow;
    padding: 10px 20px;
    &:hover{
      background-color: $background-orange;
      color: #fff;
      .icon{
        path{
          fill: #fff;
        }
      }
    }
    .icon {
      margin-left: 10px;
    }
  }
}

.card {
  $card-border-radius: 20px;
  $card-content-padding: 0 19px 15px;
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;

  border-radius: $card-border-radius;
  border: 1px solid $border-gray;

  &--favourite {
    .card__favourite {
      path {
        fill: $color-red;
      }
    }
  }

  &--outstock {
    .card__chars-count {
      color: $color-peach--dark;
    }
  }

  &__img {
    max-width: 304px;
  }

  &__content {
    padding: $card-content-padding;
  }

  &__chars {
    display: flex;
    justify-content: space-between;

    color: rgba(67, 67, 67, 1);
    margin-bottom: 5px;
  }

  &__title {
    font-size: 1.33rem;
    margin-bottom: 0;
  }

  &__bottom {
    @include flex(flex, start, space-between);
    height: 50px;
    padding: $card-content-padding;
  }

  &__price {
    font-size: 1.6rem;
    line-height: 1;
  }

  &__oldprice {
    display: none;
    font-size: 0.93rem;
    color: $color-gray;
    text-decoration: line-through;
  }

  &__favourite {
    position: absolute;
    right: 18px;
    top: 17px;

    cursor: pointer;

    path {
      transition: fill .2s;
    }

    &:hover {
      path {
        fill: $color-red;
      }
    }
  }

  &__discount {
    position: absolute;
    left: 0;
    top: 0;

    @include flex(none, center, center);
    width: 52px;
    height: 36px;

    background-color: $color-red;
    color: #fff;
    border-top-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
  }

  &-discount {
    .card__discount {
      display: flex;
    }

    .card__price {
      color: $color-red;
    }

    .card__oldprice {
      display: block;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
  }

  .btn {
    border-radius: 60px;
    padding: 9px 15px;
  }

  &.over-quantity {
    .item-counter__add {
      background-color: #ccc;
    }
  }
}

// category-item
.category-item {
  padding: 35px;
  background-repeat: no-repeat;
  background-position: 95% 100%;
  background-size: auto;

  border-radius: 58px;
  border-style: solid;
  border-width: 1px;
  border-color: unset;

  display: block;
  height: 304px;
  width: 304px;

  &--green {
    color: $color-blue;
    background-color: $background-green--light;
    border-color: $border-green;
  }
  &--brown{
    color: $color-brown;
    background-color: $background-brown--light;
    border-color: $border-brown;
  }
  &--cyan{
    color: $color-cyan--dark;
    background-color: $background-cyan;
    border-color: $border-cyan;
  }
}

//счетчик товаров
.item-counter {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 109px;
  height: 42px;

  background: $background-yellow-dark;
  border: 1px solid $border-yellow;
  color: $background-orange;
  padding: 0 6px;

  border-radius: 58px;

  &__reduce,
  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;

    border-radius: 50%;
    cursor: pointer;

    &--active {
      background-color: $background-orange;
      color: #fff;
    }
  }

  &__reduce {}

  &__add {}

  &__number {}

  &.swiper-arrows {
    width: 80px;

    .item-counter__reduce,
    .item-counter__add {
      &:hover {
        background-color: $background-orange;

        path {
          fill: #fff;
        }
      }
    }
  }
}

// 

.header__catalog-btn.active .burger {
  span {
    transform: rotate(45deg);

    &::before {
      transform: rotate(0);
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

//кнопка вкл/выкл меню
.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: $color-red;
  border-radius: 10px;
  cursor: pointer;

  >span,
  >span::before,
  >span::after {
    display: block;
    position: absolute;

    width: 14px;
    height: 2px;

    background-color: #fff;
    transition-duration: 0.25s;
  }

  >span {
    &::before {
      content: "";
      transform: translateY(-6px);
    }

    &::after {
      content: "";
      transform: translateY(6px);
    }
  }
}

// 
// search
.search {
  width: 317px;
  position: relative;

  &__bar {
    width: 100%;
    height: 48px;

    border-radius: 16px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;

    &:focus {
      border: 1px solid #ccc;
      transition: 0.35s ease;
      color: #000;

      &::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }

      &::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }

      &:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
    }
  }

  &__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
  }
}

// 