// vars
$color-red: rgba(255, 0, 0, 1);
$color-yellow: rgba(218, 144, 0, 1);
$color-black: rgba(10, 10, 10, 1);
$color-gray: rgba(67, 67, 67, 1);
$color-green: rgba(62, 88, 40, 1);
$color-peach--dark: rgba(191, 115, 115, 1);
$color-brown--dark: rgba(46, 5, 5, 1);

$background-yellow: rgba(255, 248, 235, 1);
$background-yellow-dark: rgba(255, 232, 188, 1);
$background-orange: rgba(255, 169, 0, 1);
$background-red--footer: rgba(217, 0, 0, 1);

$border-yellow: rgba(255, 169, 0, 0.45);
$border-gray: rgba(225, 225, 225, 1);

// category-items
$color-blue: rgba(56, 60, 92, 1);
$color-brown: rgba(119, 70, 49, 1);
$color-purple: rgba(56, 60, 92, 1);
$color-cyan: rgba(39, 68, 71, 1);


$background-green--light: rgba(247, 255, 229, 1);
$background-brown--light: rgba(255, 248, 235, 1);
$background-purple: rgba(235, 237, 255, 1);
$background-cyan: rgba(235, 253, 255, 1);
$background-crimson: rgba(205, 90, 126, 1);
$background-red: rgba(255, 89, 77, 1);
$background-peach: rgba(255, 166, 138, 1);
$background-category-yellow: rgba(255, 196, 37, 1);

$background-light-pink: rgba(255, 226, 235, 1);
$background-light-red: rgba(255, 233, 232, 1);
$background-light-peach: rgba(255, 237, 232, 1);
$background-light-yellow: rgba(255, 251, 239, 1);


$border-green: rgba(204, 224, 160, 1);
$border-brown: rgba(255, 231, 185, 1);
$border-purple: rgba(192, 197, 242, 1);
$border-cyan: rgba(163, 208, 214, 1);
// 

$btn-size: 1rem;

// 

.--bg-pink {
  background-color: $background-light-pink;
}

.--bg-red {
  background-color: $background-light-red;
}

.--bg-peach {
  background-color: $background-light-peach;
}

.--bg-yellow {
  background-color: $background-light-yellow;
}

.--item-light-green {
  border-color: rgba(192, 220, 157, 1);
  background-color: rgba(242, 249, 233, 1);
}

.--item-yellow {
  border-color: rgba(255, 196, 37, 1);
  background-color: rgba(255, 251, 239, 1);
}

.--item-blue {
  border-color: rgba(194, 222, 255, 1);
  background-color: rgba(237, 245, 255, 1);
}

.--item-red {
  border-color: rgba(255, 89, 77, 1);
  background-color: rgba(255, 233, 232, 1);
}

//у всех элементов при выделении будет синий цвет
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  &::selection {
    background-color: #fff;
    color: #3297fd;
    text-shadow: none;
  }
}

html {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: "Nunito", sans-serif;

  color: #000;

  &.js-popup-active {
    height: 100vh;
    overflow: hidden;
    padding-right: 15px;
  }
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  background-color: unset;
}

img {
  display: inline-block;
  width: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 30px;
}

.mb-6 {
  margin-bottom: 5rem;
}

.z-5 {
  z-index: 5;
}

.color-green {
  color: $color-green !important;
}

i {
  display: inline-block;
}

label {
  margin-bottom: 0;
}

//заголовок h1
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  line-height: 1.5;
}

h2 {
  font-size: 1.6rem;
  font-family: Nunito;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
}

.btn {
  @include flex(inline-flex, center, center);

  padding: 11px;
  font-size: $btn-size;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 16px;

  cursor: pointer;
  transition: color .2s, background .2s;

  &__icon {
    width: 26px;
    height: 26px;
  }

  &-red {
    &--border {
      border-color: $color-red;
      color: $color-red;

      &:hover {
        background-color: $color-red;
        color: #fff;
      }
    }

    &--bg {
      background-color: $color-red;
      color: #fff;
    }
  }

  &-yellow {
    background-color: $background-yellow;
    border-color: $border-yellow;

    &:hover {
      background-color: $background-yellow-dark;
    }

    &.color-black {
      color: #000;

      svg {
        path {
          fill: #000;
        }
      }

      // &:hover{
      //   color: #fff;
      //   svg{
      //     path{
      //       fill: #fff;
      //     }
      //   }
      // }
      &.active {
        color: #fff;

        svg {
          path {
            fill: #fff;
          }
        }
      }
    }

    &.color-yellow {
      color: $color-yellow;
      font-weight: 500;
      padding: 10px 20px;

      &:hover {
        background-color: $background-orange;
        color: #fff;

        .icon {
          path {
            fill: #fff;
          }
        }
      }

      .icon {
        margin-left: 10px;
      }
    }

    &.active {
      background-color: $background-orange;
    }
  }

  &-gray {
    border-color: $border-gray;
    color: $border-gray;
  }

  &-black {
    &--border {
      border-color: #000;
      color: #000;
    }

    &--bg {
      background-color: #000;
      color: #fff;
    }
  }

  &-white {
    &--border {
      border-color: #fff;
    }

    &--bg {
      background-color: #fff;
      color: #000;
    }
  }

  &-rounded {
    border-radius: 31px;
  }

  &-wide {
    padding: 13px 32px;
  }

  &-view-all {}
}

.card {
  $card-border-radius: 20px;
  $card-content-padding: 0 19px 15px;
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;

  border-radius: $card-border-radius;
  border: 1px solid $border-gray;

  &--favourite {
    .card__favourite {
      path {
        fill: $color-red;
      }
    }
  }

  &--outstock {
    .card__chars-count {
      color: $color-peach--dark;
    }
  }

  // &__img {
  //   img{
  //     max-width: 304px;
  //   }
  // }

  &__content {
    padding: $card-content-padding;
  }

  &__chars {
    display: flex;
    justify-content: space-between;

    font-size: 0.7rem;
    color: rgba(67, 67, 67, 1);
    margin-bottom: 5px;
  }

  &__title {
    font-size: 1rem;
    margin-bottom: 0;
  }

  &__bottom {
    @include flex(flex, start, space-between);
    min-height: 60px;
    padding: $card-content-padding;
  }

  &__prices {
    margin-right: 10px;
  }

  &__price {
    font-size: 1.2rem;
    line-height: 1;
  }

  &__oldprice {
    display: none;
    font-size: 0.7rem;
    color: $color-gray;
    text-decoration: line-through;
  }

  &__btn {
    .btn {
      font-size: 0.8rem;
    }
  }

  &__favourite {
    position: absolute;
    right: 18px;
    top: 17px;

    cursor: pointer;

    path {
      transition: fill .2s;
    }

    &:hover {
      path {
        fill: $color-red;
      }
    }
  }

  &__discount {
    position: absolute;
    left: 0;
    top: 0;

    @include flex(none, center, center);
    width: 52px;
    height: 36px;

    background-color: $color-red;
    color: #fff;
    border-top-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
  }

  &-discount {
    .card__discount {
      display: flex;
    }

    .card__price {
      color: $color-red;
    }

    .card__oldprice {
      display: block;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
  }

  .btn {
    border-radius: 60px;
    padding: 9px 15px;
  }

  &.over-quantity {
    .item-counter__add {
      background-color: #ccc;
    }
  }
}

// category-item
.category-item-wrapper {
  display: flex;

  height: 100%;
  border-radius: 30px;
  border: 1px solid #CD5A7E;

  .category-item {
    min-width: 310px;
    height: 100%;
    border: unset;
  }

  .category-item-descr {
    @include flex(flex, start, space-between);
    flex-direction: column;

    padding: 30px;
  }
}

.category-item {
  padding: 35px;
  background-repeat: no-repeat;
  background-position: 95% 100%;
  background-size: auto;

  border-radius: 58px;
  border-style: solid;
  border-width: 1px;
  border-color: unset;

  display: block;
  height: 304px;
  // width: 100%;

  transition: border .2s;

  &--tall {
    border-radius: 30px;
    min-height: 449px;
    // width: 310px;
    padding: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 1.73rem;
    margin: 0 auto;
  }

  &--green {
    color: $color-blue;
    background-color: $background-green--light;
    border-color: $border-green;

    &:hover {
      border-color: $color-green
    }
  }

  &--brown {
    color: $color-brown;
    background-color: $background-brown--light;
    border-color: $border-brown;

    &:hover {
      border-color: $background-orange;
    }
  }

  &--purple {
    color: $color-purple;
    background-color: $background-purple;
    border-color: $border-purple;

    &:hover {
      border-color: $color-purple;
    }
  }

  &--cyan {
    color: $color-cyan;
    background-color: $background-cyan;
    border-color: $border-cyan;

    &:hover {
      border-color: $color-cyan;
    }
  }

  &--crimson {
    background-color: $background-crimson;
  }

  &--red {
    background-color: $background-red;
  }

  &--peach {
    background-color: $background-peach;
  }

  &--yellow {
    background-color: $background-category-yellow;
  }

  &__title {
    font-size: 1.5rem;
  }
}

//счетчик товаров
.item-counter {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 109px;
  height: 42px;

  background: $background-yellow-dark;
  border: 1px solid $border-yellow;
  color: $background-orange;
  padding: 0 6px;

  border-radius: 58px;

  &__reduce,
  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;

    border-radius: 50%;
    cursor: pointer;

    &--active {
      background-color: $background-orange;
      color: #fff;
    }
  }

  &__reduce {}

  &__add {}

  &__number {}

  &.swiper-arrows {
    width: 80px;

    .item-counter__reduce,
    .item-counter__add {
      &:hover {
        background-color: $background-orange;

        path {
          fill: #fff;
        }
      }
    }
  }
}

// 

.header__catalog-btn.active .burger {
  span {
    transform: rotate(45deg);

    &::before {
      transform: rotate(0);
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

//кнопка вкл/выкл меню
.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: $color-red;
  border-radius: 10px;
  cursor: pointer;

  >span,
  >span::before,
  >span::after {
    display: block;
    position: absolute;

    width: 14px;
    height: 2px;

    background-color: #fff;
    transition-duration: 0.25s;
  }

  >span {
    &::before {
      content: "";
      transform: translateY(-6px);
    }

    &::after {
      content: "";
      transform: translateY(6px);
    }
  }
}

// 

// input
.input {
  background-color: #fff;
  border-radius: 16px;
  color: #000;
  border: none;
  height: 56px;
  width: 100%;

  padding: 20px;

  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}

// 

// search
.search {
  width: 100%;
  position: relative;

  &__bar {
    width: 100%;
    height: 48px;

    border-radius: 16px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;

    &:focus {
      border: 1px solid #ccc;
      transition: 0.35s ease;
      color: #000;

      &::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }

      &::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }

      &:-ms-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
    }
  }

  &__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
  }
}

//

//checkbox 
.checkbox {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;

  .checkmark {
    display: inline-block;
    width: 16px;
    height: 16px;
  }

  input {
    display: none;

    &:checked {
      ~.checkmark {
        background-color: #2196F3;
        border: none;

        &::after {
          display: block;
        }
      }
    }
  }

  .checkmark {
    position: relative;
    height: 14px;
    width: 14px;
    // background-color: #eee;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin-right: 10px;

    &::after {
      content: "";
      position: absolute;
      display: none;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: white;
    }
  }

  &--orange {
    .checkmark {
      background-color: $background-orange;
      border: none;
    }

    input {
      display: none;

      &:checked {
        ~.checkmark {
          background-color: $background-orange;
          border: none;

          &::after {
            background-color: $color-red;
            display: block;
          }
        }
      }
    }
  }
}

// 

// категории в каталоге
.col-title {
  font-weight: bold;
  text-transform: uppercase;
}

.category-title {
  font-weight: bold;
}

.category-name a {
  display: block;
  color: #000;
  padding: 0 25px;
  border-radius: 2px;
}

.category-name a:hover {
  background-color: $background-yellow;
}

// 

// pagination
.pagination {
  li {
    display: inline;
    border-radius: 7px;
    color: rgba(182, 150, 87, 1);
    cursor: pointer;
    padding: 7px 14px;

    &.active {
      background-color: $background-orange;
      color: #fff;
    }

    &:last-child {
      background-color: $background-orange;
      color: #fff;
    }
  }
}

// 

// модалка
.modal-wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(30, 30, 30, .5);
  backdrop-filter: blur(12px);
  transition: opacity .4s, visibility .4s;
  opacity: 0;
  visibility: hidden;
  z-index: 600;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .modal {
    position: relative;
    max-width: 96vw;
    width: 1290px;
    padding: 35px 40px;
    background-color: #fff;
    border: 1px solid #40404A;
    border-radius: 20px;
    z-index: 610;

    &.modal-sm {
      width: 450px;
    }

    .close-modal-btn {
      position: absolute;
      width: 40px;
      height: 40px;
      top: -50px;
      right: 0;
      text-align: center;
      line-height: 40px;
      font-size: 2rem;
      color: #D0C8D1;
      cursor: pointer;
    }

    .m-head {
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }

    .m-body {
      max-height: 82vh;
      padding-right: 10px;
      padding-bottom: 15px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

// vacancy item
.vacancy-item {
  @include flex(flex, start, normal);
  flex-direction: column;
  height: 100%;
  min-height: 255px;

  background-position: 100% 30%;
  background-size: auto 103px;
  background-repeat: no-repeat;
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  padding: 25px 65px 25px 20px;

  &__title {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: unset;
    margin-bottom: 0.75rem;
  }
  &__btn{
    margin-top: auto;
  }
}


// 

.modal-link {
  cursor: pointer;
}

.card-modal {
  &__collection {
    font-size: 0.8rem;
    font-weight: 600;
  }

  &__chars {
    font-size: 0.8rem;
    font-weight: 600;
  }

  &__price {
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__favorite {
    @include flex(inline-flex, center, center);


    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 42px;
    height: 42px;
  }
}

// 

.footer {
  background-color: $background-red--footer;
  color: #fff;

  padding: 37px 0 19px;

  &__col {
    li {
      line-height: 154%;
      margin-bottom: 5px;
    }

    &-title {
      font-weight: 700;
    }

    &-link {
      a {
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-icon {
      margin-right: 10px;
    }

    .phone-number {}

    .phone-description {
      color: rgba(255, 255, 255, 0.4);
      font-size: 0.93rem;

      pointer-events: none;
    }
  }
}