@media(min-width: 576px) and (max-width: 991px) {
    .rate-shop__text {
        max-width: 65%;
    }
}

@media(max-width: 1350px) {
    .delivery-select {
        &__region {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            padding: 9px 11px;
        }

        &__text {
            display: none;
        }
    }

    .header__delivery-method {
        margin-left: auto;
    }
    html {
        font-size: 18px;
    }
}
@media(max-width: 1150px){
    .category-item-wrapper .category-item{
        min-width: 250px;
    }
}
@media(max-width: 991px) {
    html {
        font-size: 15px;
    }
    .top-banner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .slider__item {
            padding: 45px 50px;

            &-title {
                font-size: 2.5rem;
            }
        }

        .item-title {
            font-size: 1.4rem;
        }
    }

    .banner-delivery {
        padding: 40px;

        &__text {
            font-size: 1.15rem;
        }

        &__text-big {
            font-size: 1.8rem;
        }

        &__btn {
            font-size: 1.25rem;
        }
    }

    .category-item {
        height: 260px;
    }

    .filter-buttons{
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-bottom: 10px;
        .btn{
            font-size: 0.8rem;
            text-wrap: nowrap;
        }
    }

    .category-item-wrapper{
        flex-direction: column;
        .category-item{
            min-width: 100%;
            background-position: right 100%;
            background-size: 40%;
            &--tall{
                min-height: auto;
            }
        }
    }
}

@media(max-width: 767px) {
    html {
        font-size: 14px;
    }

    .header__logo {
        margin-right: auto;
        max-width: 150px;
        min-width: unset;
    }

    .banner-delivery {
        padding: 30px;

        &__btn {
            font-size: 1.15rem;
        }

        &__text {
            font-size: 1rem;

            &-big {
                font-size: 1.4rem;
            }
        }
    }


    .rate-shop {
        padding: 30px 40px;
    }

    .header__buttons {
        >* {
            display: flex;

            border-radius: 11px;
            width: 43px;
            height: 34px;
        }
    }

    .header .btn {
        height: 34px;
    }

    .delivery-select {
        &__region {
            font-size: 0.8rem;
            border-radius: 11px;
            padding: 6px 8px;

            img {
                width: 10px;
                height: 10px;
            }
        }
    }

    .category-item {
        height: 230px;

        &__title {
            text-shadow: 0 0 black;
        }
    }

    .filter-buttons{
        gap: 5px;
    }

    .vacancy-item{
        min-height: 195px;
    }
}

@media(max-width: 676px) {
    .top-banner {
        display: flex;
        flex-direction: column;

        .swiper {
            &-container {
                grid-column: span 1;
                grid-row: span 2;
                // grid-template-rows: repeat(2, 1fr);
            }
        }

        .item {
            height: 180px;

            &-title {
                font-size: 1.6rem;
            }
        }
    }

    .category-item {
        background-position: left 100%;
    }
}

@media(max-width: 576px) {
    html {
        font-size: 13px;
    }

    .banner-discount {
        background-image: url('../images/banner-mobile.jpg') !important;
        background-size: cover;
        height: 120px;
    }

    .banner-delivery__btn {
        font-size: 1rem;
    }

    .banner-delivery__text-big {
        font-size: 1.1rem;
    }

    .rate-shop {
        padding: 20px 30px;
    }

    .container {
        padding: 0 15px;
    }

    .top-banner {
        .slider__item {
            padding: 25px 40px;

            &-title {
                font-size: 1.7rem;
            }

            .btn {
                padding: 14px 12px 12px;
            }
        }
    }

    .slider {
        $slick-arrow-size: 32px;
        $slider-item-padding-x: 50px;

        .swiper-prev,
        .swiper-next {
            width: $slick-arrow-size;
            height: $slick-arrow-size;
        }

        .swiper-prev {
            left: calc($slick-arrow-size/2 * -1);
        }

        .swiper-next {
            right: calc($slick-arrow-size/2 * -1);
        }
    }

    .category-item {
        height: 210px;
        background-size: 60%;
        background-position: right 100%;
    }
    .vacancy-item{
        min-height: 170px;
    }
}

@media(max-width: 500px) {
    .header__basket {
        display: none;
    }

    .header__catalog-btn {
        padding: 0px;
    }

    .header__top>* {
        padding: 0 5px;
    }

    .header__logo {
        min-width: 100px;
    }
}